<div class='app-form'>
  <h2>Cadastrar</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :first_name,
                  required: true,
                  label: 'Nome',
                  autofocus: true %>
      <%= f.input :last_name,
                  label: 'Sobrenome',
                  required: true %>
      <%= f.input :email,
                  required: true,
                  input_html: { autocomplete: "email" } %>
      <%= f.input :password,
                  required: true,
                  label: 'Senha',
                  hint: ("#{@minimum_password_length} mínimo de caracteres" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  label: 'Confirmação da senha',
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :photo, as: :file,
                  label: 'Imagem de usuário' %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Cadastrar", class: 'btn btn-primary btn-block' %>
    </div>
  <% end %>
  <div class='devise-links'>
    <%= render "devise/shared/links" %>
  </div>
</div>
