<div class='container mb-4'>
	<div class='d-flex align-items-center justify-content-between flex-wrap'>
		<h2 class='mb-0'>Minhas Carteiras</h2>
		<button class="fas fa-ellipsis-v app-btn-flat" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
		<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			<%= link_to 'Adicionar Carteira', new_portfolio_path, class: 'dropdown-item' %>
		</div>
	</div>
	<hr>
	<% if @portfolios && @portfolios.length > 0 %>
		<div class='d-flex align-items-center justify-content-start flex-wrap'>
			<% @portfolios.each do |portfolio| %>
				<div class="card invest-card m-1" style="width: 16rem;">
					<div class="dropdown"> 
						<button class="fas fa-cog fixed-top-right text-muted" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<%= link_to 'Renomear', edit_portfolio_path(portfolio), class: 'dropdown-item' %>
							<%= link_to 'Remover', portfolio_path(portfolio), method: :delete, data: { confirm: "Você tem certeza?" }, class: 'dropdown-item' %>
						</div>
					</div>
					<div class="card-body">
						<div>
							<h5 class="card-title"><strong><%= portfolio.name %></strong></h5>
						</div>
						<h6 class="card-subtitle mb-2 text-muted">Nº de ativos <%= portfolio.stocks.count + portfolio.funds.count %></h6>
						<div class="card-text mb-0 d-flex align-items-center justify-content-between">
							<span>Montante:</span> 
							<span><%= number_to_currency(portfolio.amount, unit:'R$', separator: ',', delimiter: '.') %></span>
						</div>
						<div class="card-text mb-0 d-flex align-items-center justify-content-between">
							<span>Taxa de retorno:</span> 
							<span><%= number_to_percentage(portfolio.return_tax, separator: ',', delimiter: '.', precision: 2) %></span>
						</div>
						<div class="card-text mb-3 d-flex align-items-center justify-content-between">
							<span>Retorno absoluto:</span> 
							<span><%= number_to_currency(portfolio.return_value, unit:'R$', separator: ',', delimiter: '.') %></span>
						</div>
						<div class=''>
							<%= link_to 'Detalhes', portfolio_path(portfolio, unit:'R$', separator: ',', delimiter: '.'), class: 'btn btn-primary btn-block btn-sm'  %>
						</div>
					</div>
				</div>
			<% end %>
    </div>
	<% else %>
		<p>(No portfolio added yet!)</p>
	<% end %>
</div>
