<div class="container">
  <div class='d-flex align-items-center justify-content-between flex-wrap'>
    <div class='d-flex align-items-center justify-content-start'>
      <h2 class='mb-0'><%= @portfolio.name %> </h2>
      <h5 class='mb-0 ml-2'>- Visão Geral</h5>
    </div>
		<button class="fas fa-ellipsis-v app-btn-flat" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
		<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <%= link_to 'Adicionar Ação', portfolio_stocks_choose_stock_path(@portfolio), class: 'dropdown-item' %>
      <%= link_to 'Adicionar Fundo', portfolio_funds_choose_fund_path(@portfolio), class: 'dropdown-item' %>
			<%= link_to 'Renomear', edit_portfolio_path(@portfolio), class: 'dropdown-item' %>
			<%= link_to 'Remover', portfolio_path(@portfolio), method: :delete, data: { confirm: "Você tem certeza?" }, class: 'dropdown-item' %>
		</div>
	</div>
	<hr>

  <% if @stocks.length > 0 || @funds.length > 0 %>
    <h4><strong>Sumário</strong></h4>
    <p class="card-text mb-0">Montante: <%= number_to_currency(@portfolio_actual_amount, unit:'R$', separator: ',', delimiter: '.') %></p>
    <p class="card-text mb-0">Taxa de retorno: <%= number_to_percentage(@portfolio_return_tax, separator: ',', delimiter: '.', precision: 2) %></p>
    <p class="card-text">Retorno absoluto: <%= number_to_currency(@portfolio_return_value, unit:'R$', separator: ',', delimiter: '.') %></p>
  <% end %>


  <h4><strong>Ativos por tipo</strong></h4>
  <div class='d-flex align-items-center justify-content-start flex-wrap'>  
    <% if @stocks.length > 0 %>
      <div class="card invest-card m-1" style="width: 16rem;">
        <div class="card-body">
          <h5 class="card-title"><strong>Ações</strong></h5>
          <h6 class="card-subtitle mb-2 text-muted">Nº de ativos <%= @stocks.length %> </h6>
          <div class="card-text mb-0 d-flex align-items-center justify-content-between">
            <span>Montante:</span> 
            <span><%= number_to_currency(@stocks_actual_amount, unit:'R$', separator: ',', delimiter: '.') %></span>
          </div>
          <div class="card-text mb-0 d-flex align-items-center justify-content-between">
            <span>Taxa de retorno:</span> 
            <span><%= number_to_percentage(@stocks_return_tax, separator: ',', delimiter: '.', precision: 2) %></span>
          </div>
          <div class="card-text mb-3 d-flex align-items-center justify-content-between">
            <span>Retorno absoluto:</span> 
            <span><%= number_to_currency(@stocks_return_value, unit:'R$', separator: ',', delimiter: '.') %></span>
          </div>
          <div class=''>
            <%= link_to 'Detalhes', portfolio_stocks_path(@portfolio), class: 'btn btn-primary btn-block btn-sm'  %>
          </div>
        </div>
      </div>
    <% end %>
    <% if @funds.length > 0 %>
      <div class="card invest-card m-1" style="width: 16rem;">
        <div class="card-body">
          <h5 class="card-title"><strong>Fundos</strong></h5>
          <h6 class="card-subtitle mb-2 text-muted">Nº de ativos <%= @funds.length %></h6>
          <div class="card-text mb-0 d-flex align-items-center justify-content-between">
            <span>Montante:</span> 
            <span><%= number_to_currency(@funds_actual_amount, unit:'R$', separator: ',', delimiter: '.') %></span>
          </div>
          <div class="card-text mb-0 d-flex align-items-center justify-content-between">
            <span>Taxa de retorno</span> 
            <span><%= number_to_percentage(@funds_return_tax, separator: ',', delimiter: '.', precision: 2) %></span>
          </div>
          <div class="card-text mb-3 d-flex align-items-center justify-content-between">
            <span>Retorno absoluto:</span> 
            <span><%= number_to_currency(@funds_return_value, unit:'R$', separator: ',', delimiter: '.') %></span>
          </div>
          <div class=''>
            <%= link_to 'Detalhes', portfolio_funds_path(@portfolio), class: 'btn btn-primary btn-block btn-sm'  %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

</div>
