<div class="container">
  <%= link_to '<< Portfolios', portfolios_path, class: 'btn btn-secondary btn-sm mb-3' %> 
  <h1 class='mb-2'><%= @portfolio.name %></h1> 
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle mb-3" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Add product
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <%= link_to 'Stock', portfolio_stocks_choose_stock_path(@portfolio), class: 'dropdown-item' %>
      <%= link_to 'Fund', portfolio_funds_choose_fund_path(@portfolio), class: 'dropdown-item' %>
    </div>
  </div>

  <% if @stocks.length > 0 || @funds.length > 0 %>
    <h4><strong>Summary</strong></h4>
    <p class="card-text mb-0">Ammount: <%= number_to_currency(@portfolio_actual_amount) %></p>
    <p class="card-text mb-0">Return Tax: <%= @portfolio_return_tax.round(2) %>%</p>
    <p class="card-text">Return Value: <%= number_to_currency(@portfolio_return_value) %></p>
  <% end %>


  <h4><strong>Composition</strong></h4>
  <div class='d-flex align-items-center justify-content-start flex-wrap'>  
    <% if @stocks.length > 0 %>
      <div class="card m-1" style="width: 16rem;">
        <div class="card-body">
          <h5 class="card-title"><strong>Stocks(<%= @stocks.length %>)</strong></h5>
          <h6 class="card-subtitle mb-2 text-muted">Summary</h6>
          <div class="card-text mb-0 d-flex align-items-center justify-content-between">
            <span>Ammount:</span> 
            <span><%= number_to_currency(@stocks_actual_amount) %></span>
          </div>
          <div class="card-text mb-0 d-flex align-items-center justify-content-between">
            <span>Return Tax:</span> 
            <span><%= @stocks_return_tax.round(2) %>%</span>
          </div>
          <div class="card-text mb-0 d-flex align-items-center justify-content-between">
            <span>Return Value:</span> 
            <span><%= number_to_currency(@stocks_return_value) %></span>
          </div>
          <p class="card-text mb-0"> </p>
          <p class="card-text mb-0"> </p>
          <div class='mt-3 text-right'>
            <%= link_to 'manage', portfolio_stocks_path(@portfolio), class: 'btn btn-secondary btn-sm'  %>
          </div>
        </div>
      </div>
    <% end %>
    <% if @funds.length > 0 %>
      <div class="card m-1" style="width: 16rem;">
        <div class="card-body">
          <h5 class="card-title"><strong>Funds(<%= @funds.length %>)</strong></h5>
          <h6 class="card-subtitle mb-2 text-muted">Summary</h6>
          <div class="card-text mb-0 d-flex align-items-center justify-content-between">
            <span>Ammount:</span> 
            <span><%= number_to_currency(@funds_actual_amount) %></span>
          </div>
          <div class="card-text mb-0 d-flex align-items-center justify-content-between">
            <span>Return Tax:</span> 
            <span><%= @funds_return_tax.round(2) %>%</span>
          </div>
          <div class="card-text mb-0 d-flex align-items-center justify-content-between">
            <span>Return Value:</span> 
            <span><%= number_to_currency(@funds_return_value) %></span>
          </div>
          <p class="card-text mb-0"> </p>
          <p class="card-text mb-0"> </p>
          <div class='mt-3 text-right'>
            <%= link_to 'manage', portfolio_funds_path(@portfolio), class: 'btn btn-secondary btn-sm'  %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

</div>
