<div class='container'>
  <%= link_to '<< Portfolio Stocks', portfolio_stocks_path(@portfolio), class: 'btn btn-secondary btn-sm mb-3' %>
  <h1>Add Stock</h1>
  <%= form_tag portfolio_stocks_choose_stock_path(@portfolio), method: :get, class: 'form-inline mt-4' do %>
    <%= label_tag(:query, "Search a stock by symbol:") %>
    <%= text_field_tag :query, params[:query], class: "form-control mx-1", placeholder: "Stock symbol..." %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %> 

  <% if @autocomplete %>
    <div class="mt-4">
      <% if @autocomplete.length > 0  %>
        <h3>Choose desired stock:</h3>
        <% @autocomplete.each do |stock| %>
        <p><%= stock['symbol'] %> | <%= stock['shortname'] %> | <%= link_to '+', "/portfolios/#{@portfolio.id}/stocks/new?symbol=#{stock['symbol']}&short_name=#{stock['shortname']}" %></p>
        <% end %>
      <% else %>
        <p>(No stock found for '<strong><%= @query %></strong>')</p>
      <% end %>
    </div>
  <% end %>
</div>
