<div class="container mb-4">
  <div class='d-flex align-items-center justify-content-between flex-wrap'>
    <%= link_to '', portfolio_path(@portfolio), class: "fas fa-chevron-left app-btn-flat" %>
    <div class='d-flex align-items-center justify-content-start flex-column'>
      <h2 class='mb-0'><%= @portfolio.name %> </h2>
      <h5 class='mb-0'>Ações</h5>
    </div>
		<button class="fas fa-ellipsis-v app-btn-flat" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
		<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <%= link_to 'Adicionar ação', portfolio_stocks_choose_stock_path(@portfolio), class: 'dropdown-item' %>
      <%= link_to 'Atualizar dados', update_stocks_price_path(@portfolio), class: 'dropdown-item' %>
		</div>
	</div>
	<hr>
  
  <% if @stocks.length > 0 %>
    <h4><strong>Sumário</strong></h4>
    <p class="card-text mb-0">Valor investido: <%= number_to_currency(@stocks_buy_amount, unit:'R$', separator: ',', delimiter: '.') %></p>
    <p class="card-text mb-0">Valor atual: <%= number_to_currency(@stocks_actual_amount, unit:'R$', separator: ',', delimiter: '.') %></p>
    <p class="card-text mb-0">Taxa de retorno: <%= number_to_percentage(@stocks_return_tax, separator: ',', delimiter: '.', precision: 2) %></p>
    <p class="card-text">Retorno absoluto: <%= number_to_currency(@stocks_return_value, unit:'R$', separator: ',', delimiter: '.') %></p>
  <% end %>

  <% if @query && @query != '' %>
      <h4 class='mb-0'><strong>Ações filtradas por:</strong></h4>
    <div class='d-flex justify-content-between align-items-center'>
      <h4>"<%= @query %>" (<%= @stocks.length %>)</h4>
      <%= link_to 'remover filtro', portfolio_stocks_path(@portfolio), class: 'ml-2' %>
    </div>
  <% else %>
    <h4 class='mb-0'><strong>Ações (<%= @stocks.length %>):</strong></h4>
  <% end %>

   <%= form_tag portfolio_stocks_path(@portfolio, remote: true), method: :get, class: 'form' do %>
    <div class='d-flex align-items-center justify-content-between'>
      <%= text_field_tag :query, params[:query], class: "form-control mr-1 my-2", placeholder: "Símbolo ou advisor..." %>
      <%= button_tag type: 'submit', class: "btn btn-primary", id: "register-button" do %>
        <i class="fas fa-search"></i>
      <% end %>
    </div>
  <% end %> 
  
  <% if @stocks.length.positive? %>
    <div class='d-flex align-items-center justify-content-start flex-wrap'>
      <% @stocks.each do |stock| %>     
        <div class="card invest-card m-1" style="width: 16rem;">

          <div class="dropdown"> 
						<button class="fas fa-cog fixed-top-right text-muted" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <%= link_to 'Editar', edit_stock_path(stock), class: 'dropdown-item'  %>
              <%= link_to 'Remover', stock_path(stock), method: :delete, data: { confirm: "Você tem certeza?" }, class: 'dropdown-item'  %>
						</div>
					</div>

          <div class="card-body">
            <h5 class="card-title"><strong><%= stock.symbol %></strong></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= stock.short_name %></h6>
            <h6 class="card-subtitle mb-2 text-muted">Advisor: <%= stock.advisor %></h6>
            <div class="card-text mb-0 d-flex align-items-center justify-content-between">
              <span>Valor investido:</span> 
              <span><%= number_to_currency(stock.initial_amount, unit:'R$', separator: ',', delimiter: '.') %></span>
            </div>
            <div class="card-text mb-0 d-flex align-items-center justify-content-between">
              <span>Valor atual:</span> 
              <span><%= number_to_currency(stock.amount, unit:'R$', separator: ',', delimiter: '.') %></span>
            </div>
            <div class="card-text mb-0 d-flex align-items-center justify-content-between">
              <span>Data de entrada:</span>
              <span><%= stock.buy_date.strftime("%d/%m/%y") %></span>
            </div>
            <div class="card-text mb-0 d-flex align-items-center justify-content-between">
              <span>Quantidade:</span>
              <span><%= stock.buy_quantity %></span>
            </div>
            <div class="card-text mb-0 d-flex align-items-center justify-content-between">
              <span>Preço de entrada:</span>
              <span><%= number_to_currency(stock.buy_price, unit:'R$', separator: ',', delimiter: '.') %></span>
            </div>
            <div class="card-text mb-0 d-flex align-items-center justify-content-between">
              <span>Data atualização:</span>
              <% if stock.actual_date %>
                <span><%= stock.actual_date.strftime("%Y/%m/%d") %></span>  
              <% end %>
            </div>
            <div class="card-text mb-0 d-flex align-items-center justify-content-between">
              <span>Preço atualização:</span>
              <span><%= number_to_currency(stock.actual_price, unit:'R$', separator: ',', delimiter: '.') %></span>
            </div>
            <div class="card-text mb-0 d-flex align-items-center justify-content-between">
              <span>Taxa de retorno:</span>
              <span><%= number_to_percentage(stock.return_tax, separator: ',', delimiter: '.', precision: 2) %></span>
            </div>
            <div class="card-text mb-0 d-flex align-items-center justify-content-between">
              <span>Retorno absoluto:</span>
              <span><%= number_to_currency(stock.return_value, unit:'R$', separator: ',', delimiter: '.') %></span>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>(No stock added yet!)</p>
  <% end %>
</div>
