<div class="container mb-4">
  <div class='d-flex align-items-center justify-content-between flex-wrap'>
    <%= link_to '', portfolio_path(@portfolio), class: "fas fa-chevron-left app-btn-flat" %>
    <div class='d-flex align-items-center justify-content-start flex-column'>
      <h2 class='mb-0'><%= @portfolio.name %> </h2>
      <h5 class='mb-0'>Ações</h5>
    </div>
		<button class="fas fa-ellipsis-v app-btn-flat" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
		<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <%= link_to 'Adicionar ação', portfolio_stocks_choose_stock_path(@portfolio), class: 'dropdown-item' %>
      <%= link_to 'Atualizar ações', update_stocks_price_path(@portfolio), class: 'dropdown-item' %>
		</div>
	</div>
	<hr>

  <% if @query && @query != '' %>
      <h4 class='mb-0'><strong>Ações filtradas por:</strong></h4>
    <div class='d-flex justify-content-between align-items-center'>
      <h4>"<%= @query %>" (<%= @stocks.length %>)</h4>
      <%= link_to 'remover filtro', portfolio_stocks_path(@portfolio), class: 'ml-2' %>
    </div>
  <% else %>
    <h4 class='mb-0'><strong>Ações (<%= @stocks.length %>):</strong></h4>
  <% end %>

   <%= form_tag portfolio_stocks_path(@portfolio, remote: true), method: :get, class: 'form' do %>
    <div class='d-flex align-items-center justify-content-between'>
      <%= text_field_tag :query, params[:query], class: "form-control mr-1 my-2", placeholder: "Símbolo ou advisor..." %>
      <%= button_tag type: 'submit', class: "btn btn-primary", id: "register-button" do %>
        <i class="fas fa-search"></i>
      <% end %>
    </div>
  <% end %> 
  
  <% if @stocks.length.positive? %>
    <div class='d-flex align-items-center justify-content-start flex-wrap'>
      <% @stocks.order('buy_date DESC').each do |stock| %>     
        <div class="card invest-card m-1" style="width: 16rem;">

          <div class="dropdown"> 
						<button class="fas fa-cog fixed-top-right text-muted" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <%= link_to 'Editar', edit_stock_path(stock), class: 'dropdown-item'  %>
              <%= link_to 'Remover', stock_path(stock), method: :delete, data: { confirm: "Você tem certeza?" }, class: 'dropdown-item'  %>
						</div>
					</div>

          <div class="card-body">
            <h5 class="card-title"><strong><%= stock.symbol %></strong></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= stock.short_name %></h6>
            <h6 class="card-subtitle mb-2 text-muted">Advisor: <%= stock.advisor %></h6>
            <div class="card-text mb-0 d-flex align-items-center justify-content-between">
              <span>Posição:</span> 
              <span><%= number_to_currency(stock.amount, unit:'R$', separator: ',', delimiter: '.') %></span>
            </div>
            <hr class='my-1'>
            <div class="card-text mb-0 d-flex align-items-center justify-content-between">
              <span>Valor aplicado:</span> 
              <span><%= number_to_currency(stock.initial_amount, unit:'R$', separator: ',', delimiter: '.') %></span>
            </div>
            <div class="card-text mb-0 d-flex align-items-center justify-content-between">
              <span>Taxa de retorno:</span>
              <span><%= number_to_percentage(stock.return_tax, separator: ',', delimiter: '.', precision: 2) %></span>
            </div>
            <div class="card-text mb-0 d-flex align-items-center justify-content-between">
              <span>Rendimento:</span>
              <span><%= number_to_currency(stock.return_value, unit:'R$', separator: ',', delimiter: '.') %></span>
            </div>

            <div class="card-text mb-0 d-flex align-items-center justify-content-between">
              <span>CDI no período:</span>
              <span><%= number_to_percentage(stock.cdi_tax, separator: ',', delimiter: '.', precision: 2) %></span>
            </div>

            <hr class='my-1'>
            <div class="card-text mb-0 d-flex align-items-center justify-content-between">
              <span>Quantidade:</span>
              <span><%= number_to_currency(stock.buy_quantity, unit: '', separator: ',', delimiter: '.', precision: 2) %></span>
            </div>
            <table class='w-100'>
              <tbody>
                <tr>
                  <td class='text-left'>Entrada:</td>
                  <td class='text-center'><%= stock.buy_date.strftime("%d/%m/%y") %></td>
                  <td class='text-right'><%= number_to_currency(stock.buy_price, unit:'R$', separator: ',', delimiter: '.') %></td>
                </tr>
                <tr>
                  <td class='text-left'>Atualizado:</td>
                  <td class='text-center'><%= stock.actual_date.strftime("%d/%m/%y") if stock.actual_date %></td>
                  <td class='text-right'><%= number_to_currency(stock.actual_price, unit:'R$', separator: ',', delimiter: '.') if stock.actual_price %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>(Nenhuma ação adicionada!)</p>
  <% end %>
</div>
