<div class="container">
  <%= link_to '<< Portfolio', portfolio_path(@portfolio), class: 'btn btn-secondary btn-sm mb-3' %>
  <h3>Add <strong><%= @symbol %></strong> to portfolio <strong><%= @portfolio.name %></strong></h3>
  <br>

  <%= simple_form_for [@portfolio, @stock] do |f| %>
    <%= f.input :symbol %>
    <%= f.input :short_name %>
    <%= f.input :buy_date %>
    <%= f.input :buy_quantity %>
    <%= f.input :buy_price %>
    <%= f.input :advisor, collection: Stock::ADVISORS %>
    <%= f.submit 'Add Stock', class: 'btn btn-primary' %>
  <% end %>

</div>
