<h1>Adding <%= @symbol %> to your portfolio</h1>
<%= @short_name %>

<%= simple_form_for [@portfolio, @stock] do |f| %>
  <%= f.input :buy_date %>
  <%= f.input :buy_quantity %>
  <%= f.input :buy_price %>
  <%= f.submit %>
<% end %>



