<div class='container'>
  <%= link_to '<< Portfolio Funds', portfolio_funds_path(@portfolio), class: 'btn btn-secondary btn-sm mb-3' %>
  <h1>Add Fund</h1>
  <%= form_tag portfolio_funds_choose_fund_path(@portfolio), method: :get, class: 'form-inline mt-4' do %>
    <%= label_tag(:query, "Search a fund by CNPJ:") %>
    <%= text_field_tag :query, params[:query], class: "form-control mx-1", placeholder: "Fund CNPJ..." %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %> 

  <% if @fetched_fund  %>
    <% if @fetched_fund['cnpj'] %>
      <div class="mt-4">
        <h3>Choose desired fund:</h3> 
        <p><%= @fetched_fund['nomeAbreviado'] %> | <%= @fetched_fund['cnpj'] %> | <%= @fetched_fund['classe'] %> | <%= link_to '+', "/portfolios/#{@portfolio.id}/funds/new?cnpj=#{@fetched_fund['cnpj']}&short_name=#{@fetched_fund['nomeAbreviado']}&fund_class=#{@fetched_fund['classe']}&cnpj_clean=#{@query}" %></p>
      </div>
    <% else %>
      <p>(No fund found for '<strong><%= @query %></strong>')</p>
    <% end %>
  <% end %>
</div>