<div class="container mb-4">
  <div class='d-flex align-items-center justify-content-between flex-wrap'>
    <%= link_to '', portfolio_path(@portfolio), class: "fas fa-chevron-left app-btn-flat" %>
    <div class='d-flex align-items-center justify-content-start flex-column'>
      <h2 class='mb-0'><%= @portfolio.name %> </h2>
      <h5 class='mb-0'>Fundos</h5>
    </div>
		<button class="fas fa-ellipsis-v app-btn-flat" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
		<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <%= link_to 'Adicionar fundo', portfolio_funds_choose_fund_path(@portfolio), class: 'dropdown-item' %>
      <%= link_to 'Atualizar fundos', update_funds_price_path(@portfolio), class: 'dropdown-item' %>
		</div>
	</div>
	<hr>
  
  <% if @query && @query != '' %>
      <h4 class='mb-0'><strong>Fundos filtrados por:</strong></h4>
    <div class='d-flex justify-content-between align-items-center'>
      <h4>"<%= @query %>" (<%= @funds.length %>)</h4>
      <%= link_to 'remover filtro', portfolio_funds_path(@portfolio), class: 'ml-2' %>
    </div>
  <% else %>
    <h4 class='mb-0'><strong>Fundos (<%= @funds.length %>):</strong></h4>
  <% end %>
  
  <%= form_tag portfolio_funds_path(@portfolio, remote: true), method: :get, class: 'form' do %>
    <div class='d-flex align-items-center justify-content-between'>
      <%= text_field_tag :query, params[:query], class: "form-control mr-1 my-2", placeholder: "Cnpj, nome ou advisor..." %>
      <%= button_tag type: 'submit', class: "btn btn-primary", id: "register-button" do %>
        <i class="fas fa-search"></i>
      <% end %>
    </div>
  <% end %> 
  
  <% if @funds.length.positive? %>
    <div class='d-flex align-items-strech justify-content-start flex-wrap'>
      <% @funds.order('buy_date DESC').each do |fund| %>     
        <div class="card invest-card m-1" style="width: 16rem;">
          <div class="dropdown"> 
						<button class="fas fa-cog fixed-top-right text-muted" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <%= link_to 'Editar', edit_fund_path(fund), class: 'dropdown-item'  %>
              <%= link_to 'Remover', fund_path(fund), method: :delete, data: { confirm: "Você tem certeza?" }, class: 'dropdown-item'  %>
						</div>
					</div>
          <div class="card-body">
            <h5 class="card-title" title='<%= fund.short_name %>'><strong><%= truncate(fund.short_name, length: 50) %></strong></h5>
            <h6 class="card-subtitle mb-2 text-muted">CNPJ: <%= fund.cnpj %></h6>
            <h6 class="card-subtitle mb-2 text-muted">Estratégia: <%= fund.strategy %></h6>
            <h6 class="card-subtitle mb-2 text-muted">Advisor: <%= fund.advisor %></h6>
            <div class="card-text mb-0 d-flex align-items-center justify-content-between">
              <span>Posição:</span> 
              <span><%= number_to_currency(fund.amount, unit:'R$', separator: ',', delimiter: '.') %></span>
            </div>
            <hr class='my-1'>
            <div class="card-text mb-0 d-flex align-items-center justify-content-between">
              <span>Valor aplicado:</span> 
              <span><%= number_to_currency(fund.initial_amount, unit:'R$', separator: ',', delimiter: '.') %></span>
            </div>
            <div class="card-text mb-0 d-flex align-items-center justify-content-between">
              <span>Taxa de retorno:</span>
              <span><%= number_to_percentage(fund.return_tax, separator: ',', delimiter: '.', precision: 2) %></span>
            </div>
            <div class="card-text mb-0 d-flex align-items-center justify-content-between">
              <span>Rendimento:</span>
              <span><%= number_to_currency(fund.return_value, unit:'R$', separator: ',', delimiter: '.') %></span>
            </div>
            <hr class='my-1'>
            <div class="card-text mb-0 d-flex align-items-center justify-content-between">
              <span>Quantidade:</span>
              <span><%= number_to_currency(fund.buy_quantity, unit: '', separator: ',', delimiter: '.', precision: 2) %></span>
            </div>
            <table class='w-100'>
              <tbody>
                <tr>
                  <td class='text-left'>Entrada:</td>
                  <td class='text-center'><%= fund.buy_date.strftime("%d/%m/%y") %></td>
                  <td class='text-right'><%= number_to_currency(fund.buy_price, unit:'R$', separator: ',', delimiter: '.') %></td>
                </tr>
                <tr>
                  <td class='text-left'>Atualizado:</td>
                  <td class='text-center'><%= fund.actual_date.strftime("%d/%m/%y") if fund.actual_date %></td>
                  <td class='text-right'><%= number_to_currency(fund.actual_price, unit:'R$', separator: ',', delimiter: '.') if fund.actual_price %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>(Nenhum fundo adicionado!)</p>
  <% end %>
</div>
