<div class="app-form">
  <h2 class='text-center'>Detalhes do fundo</h2>
  <p class='text-center w-75'><strong><%= @short_name %></strong></p>

  <%= simple_form_for [@portfolio, @fund] do |f| %>
    <%= f.input :short_name, :as => :hidden %>
    <%= f.input :cnpj, :as => :hidden %>
    <%= f.input :cnpj_clean, :as => :hidden %>
    <%= f.input :fund_class, :as => :hidden %>
    <%= f.input :strategy, label: 'Estratégia', collection: Stock::STRATEGIES %>
    <%= f.input :buy_date, label: 'Data de entrada' %>
    <%= f.input :buy_quantity, label: 'Quantidade' %>
    <%= f.input :buy_price, label: 'Preço de entrada' %>
    <%= f.input :advisor, collection: Stock::ADVISORS %>
    <div class="d-flex justify-content-center align-items-center w-100 mt-3">
      <%= link_to 'Voltar', portfolio_path(@portfolio), class: 'btn btn-secondary btn-block w-50 m-0 mr-1' %>
      <%= f.submit 'Adicionar', class: 'btn btn-primary btn-block w-50 m-0 ml-1' %>
    </div>
  <% end %>

</div>
